{% extends 'base.html.twig' %}

{% block title %} Produits de la catégorie {{ categories.name}} {% endblock %}

{% block body %}
{% include 'commons/_nav.html.twig' %}

<section class="d-flex flex-direction-row justify-content-end gap-3 me-5">
{% for product in products %}
<div class="card col-3" style="width: 18rem;">
  <div class="card-body">
    <h2 class="card-title">{{ product.name }}</h2>
    <h6 class="card-subtitle mb-2 text-body-secondary">{{ product.price }}$</h6>
    <a href="{{path('products_details', {id:product.id})}}" class="btn btn-primary">Détail du produit</a>
    <a href="#" class="btn btn-primary">Ajouter au panier</a>
  </div>
</div>

{% endfor %}
</section>

{% endblock %}




